<%= include header.ejs %>
    <%= include menu.ejs %>

    <div class="main-container">
        <div class="main wrapper clearfix">

            <article>
                
            </article>

        </div> <!-- #main -->
    </div> <!-- #main-container -->
<%= include footer.ejs %>