<div class="header-container">
    <header class="header-wrapper clearfix">
        <h1 class="title">Nodervisor</h1>
        <% if (typeof notLoggedIn == 'undefined') { %>
	        <nav>
	            <ul>
	                <li><a href="/">Home</a></li>
	                <li><a href="/hosts">Hosts</a></li>
	                <li><a href="/users">Users</a></li>
	                <li><a href="/logout">Logout</a></li>
	            </ul>
	        </nav>
	    <% } %>
    </header>
</div>
<div class="container">