<div class="header-container">
    <header class="header-wrapper clearfix">
        <h1 class="title">Nodervisor</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
</div>
<div class="container">